<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sylvester McMonkey McBean's projects</title>
    <%= csrf_meta_tags %>
    <%= include_gon %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'base.css' %>
    <%= stylesheet_link_tag 'my_stylesheet' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
